body{
	background-coior:yellow
	width:960px
    margin-right:auto
    margin-left:auto
    borrder-width:1px
    border-style:solid
    border-color:gray
    border-radius:5px
    padding-left:20px
    padding-right:20px
}
p{
	color:blue
}